@font-face {
  font-family: "eldenFont";
  font-style: normal;
  font-weight: 200;
  src: local("Mantinia-woff"), local("Awesome-Font-Regular"),
    url(Mantinia.woff) format("woff");
}
/*Estilos de las etiquetas principales */
*{
  padding: 0;
  margin: 0;
}
header {
  position: fixed;
  align-content: center;
  width: 100%;
  height: 60px;
  margin: 0;
  font-family: "eldenFont";
  letter-spacing: 0.5px;
  line-height: 25px;
  background: black;
  gap: 4px;
  z-index: 1;
}
main {
  display: flex;
  flex-direction: column;
  font-family: "Metropolis", "Gotham", Helvetica "Neue", Helvetica, Arial,
    sans-serif;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 25px;
  z-index: 2;
}
h2,
h3,
h4 {
  color: #c4a263;
  font-family: "eldenFont";
  letter-spacing: 0.5px;
  line-height: 25px;
}
/*Estilos del Nav*/
.header-nav{
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-indent: 10px;

}
.header-nav a {
  font-size: 20px;
  text-decoration: none;
  color: #c4a263;
}
.header-nav a:hover {
  color: white;
}
/*Estilos de la seccion introduccion*/

.introduccion-box-elden-ring{
  display: flex;
  flex-direction: column;
  position: relative;
}
.introduccion-title{
  color: #c4a263;
  font-family: "eldenFont";
  letter-spacing: 0.5px;
  line-height: 25px;
  position: absolute;
  font-size: 100px;
  bottom: 900px;
  left: 684px;
  font-weight: normal;
}
.introduccion-box-elden-ring p{
  font-weight: normal;
  position: absolute;
  width: 560px;
  bottom: 270px;
  left: 665px;
  color: white;
  font-size: 17px;
}
.introduccion-fogata{
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 100px;
  left: 800px;

}
.introduccion-personaje{
  display: flex;
  position: absolute;
  width: 140px;
  height: 140px;
  bottom: 100px;
  left: 900px;

}
/*Estilos de la seccion carracteristicas*/
.principal-features{
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 1px;
  height: 2500px;
}
.principal-features p{
  color: white;
}
.principal-features-imagen{
  position: absolute;
}

/*-------->Estilos de la seccion carracteristicas universo de fantasía*/
.principal-features-fantasy{
  position: relative;
  display: flex;
  flex-direction: column;
}
.principal-features-fantasy h2{
  position: absolute;
  left: 1115px;
  top: 80px;

}
.principal-features-fantasy p{
  position: absolute;
  width: 500px;
  left: 1000px;
  top: 120px;
}
.principal-features-fantasy video{
  position: absolute;
  width: 650px;
  height: 650px;
  left: 200px;
}

/*-------->Estilos de la seccion carracteristicas de exploracion*/
.principal-features-exploracion{
  position: relative;
  display: flex;
  flex-direction: column;
}
.principal-features-exploracion h2{
  position: absolute;
  top: 600px;
  left: 300px;

}
.principal-features-exploracion p{
  position: absolute;
  top: 650px;
  width: 500px;
  left: 300px;

}
.principal-features-exploracion video{
  width: 650px;
  height: 650px;
  top: 500px;
  left: 1000px;

  position: absolute;
}

/*-------->Estilos de la seccion carracteristicas nivel*/
.principal-features-level{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 1000px;
}
.principal-features-level h2{
  position: absolute;
  top: 70px;
  left: 1170px;
  font-size: 30px;

}
.principal-features-level p{
  position: absolute;
  top: 120px;
  left: 1030px;
  width: 500px;


}.principal-features-level video{
  position: absolute;
  width: 650px;
  height: 650px;
  left: 200px;

}

/*-------->Estilos de la seccion carracteristicas souls like*/
.principal-features-souls-like{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 1800px;
  left: 200px;
}
.principal-features-souls-like h2{
  position: absolute;
}
.principal-features-souls-like p{
  position: absolute;
  width: 500px;

}
.principal-features-souls-like video{
  position: absolute;
  width: 150px;
  height: 150px;
}
