@font-face {
  font-family: "eldenFont";
  font-style: normal;
  font-weight: 200;
  src: local("mantinia-woff"), url(mantinia.woff) format("woff");
}
/*Estilos de las etiquetas principales */
* {
  padding: 0;
  margin: 0;
}
header {
  position: fixed;
  align-content: center;
  width: 100%;
  height: 60px;
  margin: 0;
  font-family: "eldenFont";
  letter-spacing: 0.5px;
  line-height: 25px;
  background: black;
  gap: 4px;
  z-index: 1;
}
main {
  display: flex;
  flex-direction: column;
  font-family: "Metropolis", "Gotham", Helvetica "Neue", Helvetica, Arial,
    sans-serif;
    color: white;

  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 25px;
  z-index: 2;
  overflow-x: hidden;
}
h2,
h3,
h4 {
  color: #c4a263;
  font-family: "eldenFont";
  letter-spacing: 0.5px;
  line-height: 25px;
}
p{
}
/*Estilos del Nav*/
.header-nav {
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-indent: 10px;
}
.header-nav a {
  font-size: 20px;
  text-decoration: none;
  color: #c4a263;
}
.header-nav a:hover {
  color: white;
}
/*Estilos de la seccion introduccion*/

.introduccion-box-elden-ring {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1920px;
}
.introduccion-title {
  color: #c4a263;
  font-family: "eldenFont";
  letter-spacing: 0.5px;
  line-height: 25px;
  position: absolute;
  font-size: 100px;
  bottom: 900px;
  left: 684px;
  font-weight: normal;
}
.introduccion-box-elden-ring p {
  font-weight: normal;
  position: absolute;
  width: 560px;
  bottom: 270px;
  left: 665px;
  color: white;
  font-size: 17px;
}
.introduccion-fogata {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 100px;
  left: 800px;
}
.introduccion-personaje {
  display: flex;
  position: absolute;
  width: 140px;
  height: 140px;
  bottom: 100px;
  left: 900px;
}
/*Estilos de la seccion carracteristicas*/
.principal-features {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 1px;
  height: 2300px;
}
.principal-features p {
  color: white;
}
.principal-features-imagen {
  position: absolute;
}

/*-------->Estilos de la seccion carracteristicas universo de fantasía*/
.principal-features-fantasy {
  position: relative;
  display: flex;
  flex-direction: column;
}
.principal-features-fantasy h2 {
  position: absolute;
  left: 1115px;
  top: 80px;
}
.principal-features-fantasy p {
  position: absolute;
  width: 500px;
  left: 1000px;
  top: 120px;
}
.principal-features-fantasy video {
  position: absolute;
  width: 650px;
  height: 650px;
  left: 200px;
}

/*-------->Estilos de la seccion carracteristicas de exploracion*/
.principal-features-exploracion {
  position: relative;
  display: flex;
  flex-direction: column;
}
.principal-features-exploracion h2 {
  position: absolute;
  top: 600px;
  left: 300px;
}
.principal-features-exploracion p {
  position: absolute;
  top: 650px;
  width: 500px;
  left: 300px;
}
.principal-features-exploracion video {
  width: 650px;
  height: 650px;
  top: 500px;
  left: 1000px;

  position: absolute;
}

/*-------->Estilos de la seccion carracteristicas nivel*/
.principal-features-level {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 1000px;
}
.principal-features-level h2 {
  position: absolute;
  top: 70px;
  left: 1170px;
  font-size: 30px;
}
.principal-features-level p {
  position: absolute;
  top: 120px;
  left: 1030px;
  width: 500px;
}
.principal-features-level video {
  position: absolute;
  width: 650px;
  height: 650px;
  left: 200px;
}

/*-------->Estilos de la seccion carracteristicas souls like*/
.principal-features-souls-like {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 1600px;
  margin-left: 800px;
}
.principal-features-souls-like-title {
  position: absolute;
  bottom: 30px;
  font-size: 30px;
  left: -55px;
}
.principal-features-souls-like-text {
  position: absolute;
  left: -101px;
  font-size: 18px;
  width: 454px;
  font-weight: bold;
  text-align: center;
  bottom: -57px;
}
/*--------------------------->souls like ---->level*/
.souls-like-level {
  position: relative;
  top: 150px;
}
.souls-like-level h3 {
  position: absolute;
  left: -730px;
  bottom: 20px;
  font-size: 23px;
}
.souls-like-level p {
  position: absolute;
  left: -730px;
  width: 350px;
}
.souls-like-level img {
  position: absolute;
  left: -730px;
  width: 350px;
  height: 250px;
  top: 200px;
}
/*--------------------------->souls like ---->narrativa*/
.souls-like-environmental-narrative {
  position: relative;
  left: -180px;
  top: 150px;
}

.souls-like-environmental-narrative h3 {
  position: absolute;
  left: -100px;
  bottom: 20px;
  font-size: 23px;
}

.souls-like-environmental-narrative p {
  position: absolute;
  width: 350px;
  left: -100px;
}
.souls-like-environmental-narrative img {
  position: absolute;
  width: 350px;
  height: 250px;
  left: -100px;
  top: 200px;
}
/*--------------------------->souls like ---->mejora de personaje*/

.souls-like-character-upgrade {
  top: 150px;
  left: -150px;
  position: relative;
}

.souls-like-character-upgrade h3 {
  position: absolute;
  left: 300px;
  bottom: 20px;
  font-size: 23px;
}

.souls-like-character-upgrade p {
  position: absolute;
  width: 350px;
  left: 300px;
}
.souls-like-character-upgrade img {
  position: absolute;
  width: 350px;
  height: 250px;
  left: 300px;
  top: 200px;
}
/*--------------------------->souls like ---->combate metodico*/
.Methodical-Combat {
  position: relative;
  top: 150px;
  left: -100px;
}

.Methodical-Combat h3 {
  position: absolute;
  left: 700px;
  bottom: 20px;
  font-size: 23px;
}

.Methodical-Combat p {
  position: absolute;
  left: 700px;
  width: 350px;
}
.Methodical-Combat img {
  position: absolute;
  left: 700px;
  width: 350px;
  height: 250px;
  top: 200px;
}

/*Section Historia*/
.section-history {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-title {
  position: absolute;
  margin-top: 150px;
}
.history-box {
  gap: 21px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 1300px;
  align-items: center;
  text-align: center;
  margin-top: 300px;
}
.history-box p {
  color: white;
  top: 210px;
  text-align: center;
}

.section-clases {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(Fondos/elden-ring-characters-gallery-background.webp);
  background-attachment:fixed ;
}
.clases-box-heroe {
  position: relative;
}

/* 
.clases-box-bandido {
  position: absolute;
} */ */
/* 
.clases-box-astrologo {
  position: absolute;
}
.clases-box-guerrero {
  position: absolute;
}
.clases-box-prisionero {
  position: absolute;
}
.clases-box-confesor {
  position: absolute;
}
.clases-box-miserable {
  position: absolute;
}
.clases-box-vagante {
  position: absolute;
}
.clases-box-profeta {
  position: absolute;
}
.clases-box-samurai {
  position: absolute;
} */
