@font-face {
  font-family: "eldenFont";
  font-style: normal;
  font-weight: 200;
  src: local("mantinia-woff"), url(mantinia.woff) format("woff");
}
/*Estilos de las etiquetas principales */
* {
  padding: 0;
  margin: 0;
}
header {
  position: fixed;
  align-content: center;
  width: 100%;
  height: 60px;
  margin: 0;
  font-family: "eldenFont";
  letter-spacing: 0.5px;
  line-height: 25px;
  background: #010c0d;
  gap: 4px;
  z-index: 1;
}
main {
  font-family: "Metropolis", "Gotham", Helvetica "Neue", Helvetica, Arial,
  sans-serif;
  color: white;
  max-width: 1920px;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 25px;
  z-index: 2;
  overflow-x: hidden;
}
h2,
h3,
h4 {
  color: #c4a263;
  font-family: "eldenFont";
  letter-spacing: 0.5px;
  line-height: 25px;
}
p{
  line-height: 30px;
}
strong{
  color: #c4a263;

}
/*Estilos del Nav*/
.header-nav {
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-indent: 10px;
}
.header-nav a {
  font-size: 20px;
  text-decoration: none;
  color: #c4a263;
}
.header-nav a:hover {
  color: white;
}
/*Estilos de la seccion introduccion*/
.introduccion-box-elden-ring {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(Fondos/fondo-seccion-introduccion.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  height: 1080px;
}
.introduccion-title {
  color: #c4a263;
  font-family: "eldenFont";
  letter-spacing: 0.5px;
  line-height: 25px;
  position: absolute;
  font-size: 100px;
  bottom: 900px;
  left: 684px;
  font-weight: normal;
  display: none;
}
.introduccion-tittle-img{
width: 650px;
position: absolute;
left: 620px;
bottom: 780px;
filter: drop-shadow();

}
.introduccion-box-elden-ring p {
  font-weight: normal;
  position: absolute;
  width: 823px;
  text-align: center;
  bottom: 270px;
  left: 533px;
  color: white;
  font-size: 19px;
}
.introduccion-fogata {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 100px;
  left: 800px;
}
.introduccion-personaje {
  display: flex;
  position: absolute;
  width: 140px;
  height: 140px;
  bottom: 100px;
  left: 900px;
}
/*Estilos de la seccion carracteristicas*/
.principal-features {
  position: relative;
  bottom: 1px;
  height: 2270px;
  text-align: center;
  background-image: url(Fondos/fondo-seccion-caracteristicas.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.principal-features h2 {
  padding-top: 80px;
}
.principal-features p {
  color: white;
  font-size: 18px;
}
.principal-features-imagen {
  position: absolute;
}

/*-------->Estilos de la seccion carracteristicas universo de fantasía*/
.principal-features-fantasy {
  position: relative;
  display: flex;
  flex-direction: column;
}
.principal-features-fantasy h3 {
  position: absolute;
  left: 1115px;
  top: 80px;
}
.principal-features-fantasy p {
  position: absolute;
  font-size: 18px;
  width: 500px;
  left: 1000px;
  top: 120px;
}
.principal-features-fantasy video {
  position: absolute;
  width: 650px;
  height: 650px;
  left: 200px;
}

/*-------->Estilos de la seccion carracteristicas de exploracion*/
.principal-features-exploracion {
  position: relative;
  display: flex;
  flex-direction: column;
}
.principal-features-exploracion h3 {
  position: absolute;
  top: 600px;
  left: 300px;
}
.principal-features-exploracion p {
  position: absolute;
  font-size: 18px;
  top: 650px;
  width: 500px;
  left: 300px;
}
.principal-features-exploracion video {
  width: 650px;
  height: 650px;
  top: 500px;
  left: 1000px;
  position: absolute;
}

/*-------->Estilos de la seccion carracteristicas nivel*/
.principal-features-level {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 1000px;
}
.principal-features-level h3 {
  position: absolute;
  top: 70px;
  left: 1170px;
}
.principal-features-level p {
  position: absolute;
  font-size: 18px;
  top: 120px;
  left: 1030px;
  width: 500px;
}
.principal-features-level video {
  position: absolute;
  width: 650px;
  height: 650px;
  left: 200px;
}

/*-------->Estilos de la seccion carracteristicas souls like*/
.principal-features-souls-like {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 1600px;
  margin-left: 800px;
}
.principal-features-souls-like-title {
  position: absolute;
  bottom: 30px;
  font-size: 30px;
  left: -55px;
}
.principal-features-souls-like-text {
  position: absolute;
  left: -101px;
  font-size: 18px;
  width: 454px;
  font-weight: bold;
  text-align: center;
  bottom: -57px;
}
/*--------------------------->souls like ---->level*/
.souls-like-level {
  position: relative;
  top: 150px;
}
.souls-like-level h4 {
  position: absolute;
  left: -730px;
  bottom: 20px;
  font-size: 23px;
}
.souls-like-level p {
  position: absolute;
  font-size: 18px;
  left: -730px;
  width: 350px;
}
.souls-like-level img {
  position: absolute;
  left: -730px;
  width: 350px;
  height: 250px;
  top: 200px;
}
/*--------------------------->souls like ---->narrativa*/
.souls-like-environmental-narrative {
  position: relative;
  left: -180px;
  top: 150px;
}

.souls-like-environmental-narrative h4 {
  position: absolute;
  left: -100px;
  bottom: 20px;
  font-size: 23px;
}

.souls-like-environmental-narrative p {
  position: absolute;
  font-size: 18px;
  width: 350px;
  left: -100px;
}
.souls-like-environmental-narrative img {
  position: absolute;
  width: 350px;
  height: 250px;
  left: -100px;
  top: 200px;
}
/*--------------------------->souls like ---->mejora de personaje*/

.souls-like-character-upgrade {
  top: 150px;
  left: -150px;
  position: relative;
}

.souls-like-character-upgrade h4 {
  position: absolute;
  left: 300px;
  bottom: 20px;
  font-size: 23px;
}

.souls-like-character-upgrade p {
  position: absolute;
  font-size: 18px;
  width: 350px;
  left: 300px;
  
}
.souls-like-character-upgrade img {
  position: absolute;
  width: 350px;
  height: 250px;
  left: 300px;
  top: 200px;
}
/*--------------------------->souls like ---->combate metodico*/
.Methodical-Combat {
  position: relative;
  top: 150px;
  left: -100px;
}

.Methodical-Combat h4 {
  position: absolute;
  left: 700px;
  bottom: 20px;
  font-size: 23px;
}

.Methodical-Combat p {
  position: absolute;
  font-size: 18px;
  left: 700px;
  width: 350px;
}
.Methodical-Combat img {
  position: absolute;
  left: 700px;
  width: 350px;
  height: 250px;
  top: 200px;
}

/*----------------------Section Historia/*----------------------*/
.section-history {
  background-image: url(Fondos/fondo-seccion-historia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1920px;
  height: 1080px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 3px 4px 12px rgba(0, 0, 0, 0.5);

}

.history-title {
  position: absolute;
  top: 150px;
  text-shadow: 3px 4px 12px rgba(0, 0, 0, 0.5);

}
.history-box {
  gap: 21px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 1300px;
  align-items: center;
  text-align: center;
  margin-top: 300px;
}
.history-box p {
  color: white;
  font-size: 18px;
  top: 210px;
  text-align: center;
  text-shadow: 3px 4px 12px rgba(0, 0, 0, 0.5);

}
/*/*----------------------seccion clases-------------------  */
.section-class {
  min-width: 1920px;
  position: relative;
  background-image: url(Fondos/1216462.jpg);
  background-attachment:fixed ;
  text-align: center;
}
.section-class ol,li{
  text-decoration: none;
  list-style: none;
}
.class-title{
padding-top: 100px;
text-shadow: 3px 4px 12px rgba(0, 0, 0, 0.5);

}
.box-class-text {
align-content: center;
width: 1000px;
margin-left: 490px;
margin-top: 25px;
font-size: 18px;
text-shadow: 3px 4px 12px rgba(0, 0, 0, 0.5);

}

.li-title-box{
  width: 100%;
  background-color: white;
  border-bottom: #c4a263 solid;
  
}
.li-title-box h3{
  margin-left: 10px;

}

.class-li-rigth {
  position: relative;
  border: #c4a263 solid;
  border-radius: 5px;
  text-align: center;
  margin-top: 110px;
  left: 1350px;
  width: 320px;
  background-color: #010c0d;
} 
.class-li-rigth p{
  width: 300px;  
} 
.class-li-rigth h3{
  top: 10px;
  font-size: 27px;
} 

.class-li-left {
  position: relative;
  border: #c4a263 solid;
  border-radius: 5px;
  text-align: center;
  margin-top: 110px;
  width: 320px;
  left: 230px;
  background-color: #010c0d;
} 
.class-li-left p{
  width: 300px;  
} 
.class-li-left h3{
  margin-left: 10px;
  font-size: 27px;
} 



/* -------------------secccion los sin luz------------------------------- */
.section-sinluz{
  min-width: 1920px;
  min-height: 1200px;
  text-align: center;
  background-image: url(Fondos/elden-ring-characters-gallery-background.webp);
  background-repeat: no-repeat;
  background-size: cover  ;
}
.sinluz-title{
  padding-top: 113px;
  padding-bottom: 70px;

}
.section-sinluz p{
  width: 1200px;
  margin-bottom: 25px;
  font-size: 18px;
  margin-left: 316px;
}
.sin-luz-imgs{
  display: inline;
  width: 500px;
  height: 500px;
}
.footer-box{
  background-color: #010c0d;
  border:  #010c0d solid;

  height: 250px;
  color: white;
}
.footer-box a{
  color: #c4a263;
}
.footer-img{
  width: 200px;
  margin-top: -160px;
  height: 200px;
  float: right;
  
}

.footer-text{
  margin-top: 60px;
  margin-left: -98px;
}
.container--imgs{
  float: left;
  padding-right: 316px;
  padding-top: 45px;}
.q{
  width: 150px;
}